{{<fragments/layout}}
  {{$body}}
<canvas id="line-chart"></canvas>
<script>
  window.AppData = {};
  _distByTime = {{{ arrayData }}};
  _data2 = {{{ arrayData2 }}};
  data1 = [{x:"2025-04-01T09:32:00Z",y:10346},{x:"2025-04-01T09:42:00Z",y:5000},{x:"2025-04-01T09:52:00Z",y:300},{x:"2025-04-01T10:02:00Z",y:1000},{x:"2025-04-01T10:12:00Z",y:300},{x:"2025-04-01T10:22:00Z",y:879}];
  data2 = [{x:"2025-04-01T09:32:00Z",y:14346},{x:"2025-04-01T09:42:00Z",y:10376},{x:"2025-04-01T09:52:00Z",y:9672},{x:"2025-04-01T10:02:00Z",y:33254},{x:"2025-04-01T10:12:00Z",y:11740},{x:"2025-04-01T10:22:00Z",y:18810}];

  ctx = document.querySelector("#line-chart").getContext('2d');
  config = {
    type: 'bar',
    data: {
      labels: [],
      datasets: [{
        data: data1,
        label: "Events",
        borderColor: "#0c66a0",
        backgroundColor: "#3e95cd",
        borderWidth: 1,
        borderRadius: 5,
        borderSkipped: false,
        fill: false
      },
      {
        data: data2,
        label: "Events2",
        borderColor: "#fcf6a0",
        backgroundColor: "#0e050d",
        borderWidth: 1,
        borderRadius: 5,
        borderSkipped: false,
        fill: false
      }]
    },
    options: {
      scales: {
        xAxes: [{
          type: 'time',
          distribution: 'linear',
        }],
        title: {
          display: false,
        },
        y: {
          stacked: true
        },
        x: {
          stacked: true
        }
      }
    }
  };
  new Chart(ctx, config);
</script>
<h3>Total events By Time 3</h3>

  {{/body}}
{{/fragments/layout}}
