<div>
  <h3>Metrics</h3>
  <table class="table">
    <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Key</th>
      <th>Loc</th>
      <th>Group</th>
    </tr>
    </thead>
    <tbody>
    {{#metrics}}
      <tr>
        <td>{{ id }}</td>
        <td> <a href="/metrics/{{ id }}">{{ name }}</a></td>
        <td>{{ key }}</td>
        <td>{{ loc }}</td>
        <td>{{ rollupGroup }}</td>
      </tr>
    {{/metrics}}
    </tbody>
  </table>
</div>
<div id="app-metric-action"></div>
