<div>
  <h3>query plans</h3>
  <table class="table">
    <thead>
    <tr>
      <th>time</th>
      <th>Name</th>
      <th>Env</th>
      <th>Hash</th>
      <th>Mean</th>
      <th>Max</th>
      <th>Total</th>
    </tr>
    </thead>
    <tbody>
    {{#plans}}
      <tr>
        <td> whenCaptured </td>
        <td>{{ metric.name }}</td>
        <td>{{ env.name }} {{ id }}</td>
        <td><a href="/view-plan/{{ id }}">{{ metric.key }}</a></td>
        <td>{{ queryTimeMicros }}</td>
        <td>{{ captureMicros }}</td>
        <td>{{ captureCount }}</td>
      </tr>

      <tr>
        <td>SQL</td>
        <td colspan="6">{{ sql }}</td>
      </tr>
      <tr>
        <td>Plan</td>
        <td colspan="6">{{ plan }}</td>
      </tr>
      <tr>
        <td>Bind</td>
        <td colspan="6">{{ bind }}</td>
      </tr>
    {{/plans}}
    </tbody>
  </table>
</div>
<div id="app-metric-action"></div>

=
