<div>
  <h3>envs</h3>
  <table class="table">
    <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
    </tr>
    </thead>
    <tbody>
    {{#envs}}
      <tr>
        <td>{{ id }}</td>
        <td>{{ name }}</td>
      </tr>
    {{/envs}}
    </tbody>
  </table>
</div>
<div id="apps-action"></div>
