<div class="hash-legend" aria-label="Query hash legend">
  <ul>
    {{^hashBreakdown}}
      <li>No hash-level data.</li>
    {{/hashBreakdown}}
    {{#hashBreakdown}}
      <li class="hash-legend-item">
        <button type="button" class="hash-series-toggle"
                data-label="{{hash}}" aria-pressed="true"
                aria-label="Toggle {{hash}}" title="{{hash}}">
          <span class="hash-swatch" style="background-color: {{color}}"
                aria-hidden="true"></span>
        </button>
      </li>
    {{/hashBreakdown}}
  </ul>
</div>
