<!doctype html>
<html lang="en" data-theme="light">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>ebean insight</title>
  <link rel="stylesheet" href="/static/vendor/pico.min.css">
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<header class="container">
  <nav>
    {{> fragments/breadcrumb}}
    {{$filters}}{{/filters}}
  </nav>
</header>
<main class="container">
  {{$body}}Empty body{{/body}}
</main>
<footer class="container">
  <small>ebean insight</small>
</footer>
</body>
</html>
