{{<fragments/layout}}
  {{$body}}
    <h1>App {{ appMetric.name }}</h1>
    <p>
      {{ appMetric.key }}
    </p>
    <p>
      {{ appMetric.sql }}
    </p>
    <button hx-get="/queryplan/{{ appMetric.id }}" hx-target="#request-queryplan-result">Show Query plans</button>
    <form hx-post="/queryplan/{{ appMetric.id }}/request" hx-target="#request-queryplan-result">
      <label for="name">environment</label>
      <input name="environment" value=""/>
      <label>hash</label>
      <input name="hash" value="{{ appMetric.key }}"/>
      <button>request query plan</button>
    </form>
    <div id="request-queryplan-result">
    </div>

    <div hx-get="/metrics/{{ appMetric.id }}/recent" hx-trigger="load">
      <img alt="Result loading..." class="htmx-indicator" width="50" src="/static/bars.svg"/>
    </div>
  {{/body}}
{{/fragments/layout}}
