<html lang="en">
<head>
  <script src="https://unpkg.com/vue@3.2.45/dist/vue.global.prod.js"></script>
  <script src="https://unpkg.com/pev2/dist/pev2.umd.js"></script>
  <link
    href="https://unpkg.com/bootstrap@5.3.2/dist/css/bootstrap.min.css"
    rel="stylesheet"
  />
  <link rel="stylesheet" href="https://unpkg.com/pev2/dist/pev2.css" />
  <title>Query plan viewer</title>
</head>
<body>
<div id="app">
  <pev2 :plan-source="plan" plan-query="{{{ rawSql }}}" />
</div>

<textarea id="planSource" hidden="hidden">{{{ rawPlan }}}</textarea>
<script>
  const { createApp } = Vue

  const plan = document.getElementById("planSource").value;

  const app = createApp({
    data() {
      return {
        plan: plan,
      }
    },
  })
  app.component("pev2", pev2.Plan)
  app.mount("#app")
</script>
</body>
</html>
